* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    gap: 4px;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
    align-items: stretch;
    height: 100vh;
    width: 100%;
  }
  
  .container div {
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    border: solid 1px black;
  }

  .sidebar {
    grid-row: 1 / 3;
    background-color: rgb(59, 144, 214);
    color: white;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
  }

  .navigation a,
  .admin-links a {
    font-size: 20px;
  }

  .navigation {
    display: grid;
    align-self: start;
    gap: 15px;
  }

  .admin-links {
    display: grid;
    gap: 15px;
    align-self: end;
  }

  .header {
    grid-column: 2;
    display: grid;
    grid-template-rows: auto auto;
  }

  .search-profile div,
  .welcome div {
    font-size: 10px;
  }

  .search-profile,
  .welcome {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
  }

  .main-content {
    display: grid;
    grid-area: 2 / 2;
    grid-template-columns: 4fr 1fr;
  }

  .your-projects {
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto;
    grid-template-rows: 15px auto auto auto;
  }

  .your-projects > div {
    font-size: 10px;
  }

  .yp-header {
    grid-area: 1 / span 2;
  }

  .right-sidebar {
    display: grid;
    gap: 15px;
    grid-template-rows: auto auto;
  }

  .announcements,
  .trending {
    display: grid;
    grid-template-rows: 15px auto;
  }

  .announcements div,
  .trending div {
    font-size: 10px;
  }

  .announcements-content,
  .trending-content {
    display: grid;
    grid-template-rows: auto auto auto;
  }